POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=document_db
DATABASE_URL=postgresql://postgres:password@document-db:5432/document_db

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8004
ALLOWED_HOSTS=localhost,127.0.0.1,document-service

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
